*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181818;
}
div{
    background-color: azure;
    border-radius: 5px;
    max-width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}