* {
    box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
}
ul li {
    position: relative;
    cursor: pointer;
    padding: 12px 10px 12px 30px;
    background: #eee;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}

ul li.checked {
    text-decoration: line-through;
}
ul li.checked::before {
    content: "";
    position: absolute;
    border: #111;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 18px;
}

.header {
    background-color: darkorange;
    padding: 30px 40px;
    color: #000;
    text-align: center;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
}
.add-btn {
    padding: 10px;
    width: 25%;
    background: #000;
    color: #eee;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
}
.add-btn:hover {
    background-color: dimgray;
}

