@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.container {
    max-width: 750px;
    margin: auto;
}
body {
    font-size: 18px;
    font-family: 'Lobster', cursive;    
}
.avatar {
    width: 350px;
    border-radius: 35px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}

.card {
    border: 2px solid;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: rgb(130, 206, 213);
}

.bg-yellow {
    background: rgb(226, 204, 115);
}
.bg-pink {
    background: rgb(217, 120, 209);
}